
list-hallazgos {
  .tres_puntos  {
    height: 40px;
    margin-top: 7px;
    padding-top: 12px
}
.item_color{

  border: .5px solid #E5E6EB;
  background-color: #f3f3f3;
}
}
    .action-sheets-basic-page {

        .ion-md-share {
          color: #ED4248;
        }
        .ion-md-arrow-dropright-circle {
          color: #508AE4;
        }
        .ion-md-cloud-upload {
          color: #31D55F;
        }
        
        .action-sheet-destructive ion-icon {
          color: #ED4248;
        }
        .action-sheet-cancel ion-icon {
            color: #ccc;
          }

      }
    
    
